.location {
  background-color: #eaeaea;
  box-shadow: -1px 10px 7px -11px rgba(0, 0, 0, 0.49) inset;
  display: flex;
  align-items: center;
  justify-content: center;

  &__icon {
    color: #353535;
  }

  &__title {
    font-size: 1rem;
    padding: 0.5rem;
    font-family: $fontText, Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #353535;
    margin-left: 0.5rem;
  }
}
