.picture-top {
  height: 30vh;
  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.meals {
  padding: 2rem 1rem;
  position: relative;
  margin-top: -2rem;
  border-radius: 2rem 2rem 0 0;
  overflow: hidden;
  width: 100%;
  background-color: $lightGray;
  font-family: $fontText, Arial, Helvetica, sans-serif;

  &__title {
    font-family: $fontTitleLogo, Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    padding-right: 1rem;

    @media screen and (min-width: $screen) {
      justify-content: flex-end;
      margin: 2rem 0;
    }

    h1 {
      font-size: 1.5rem;

      @media screen and (min-width: $screen) {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2rem;
      }
    }

    svg {
      height: 32px;
      width: 32px;
    }
  }

  &__foods {
    margin-bottom: 2rem;
    opacity: 0;
    animation: fadein 2s forwards;

    &__title {
      h2 {
        font-weight: 200;
        text-transform: uppercase;
        font-size: 1rem;

        @media screen and (min-width: $screen) {
          font-size: 1.25rem;
        }
      }

      &--underline {
        height: 3px;
        width: 2.5rem;
        background-color: $tertiaryColor;
        margin-top: 0.3rem;
        margin-bottom: 0.8rem;
      }
    }

    &__cards {
      @media screen and (min-width: $screen) {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
      }
    }

    &__card {
      display: flex;
      justify-content: space-between;
      background-color: white;
      border-radius: 1rem;
      margin-bottom: 0.8rem;
      box-shadow: 0px 5px 26px -10px rgba(0, 0, 0, 0.5);
      overflow: hidden;
      cursor: pointer;

      @media screen and (min-width: $screen) {
        width: 30%;
      }

      &__content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        transition: 400ms;

        @media screen and (min-width: $screen) {
          flex-direction: column;
          align-items: center;
        }
      }

      &--left {
        padding: 0.8rem 0 0.8rem 0.5rem;
        width: 80%;

        @media screen and (min-width: $screen) {
          text-align: center;
          padding: 0.8rem 0rem;
        }

        h3 {
          font-weight: 400;
          font-size: 1rem;
          margin-bottom: 0.2rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        p {
          font-weight: 200;
          font-size: 0.8rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      &--right {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        font-size: 0.9rem;
        font-weight: 400;
        padding: 0.8rem 1rem 0.8rem 0;
        width: 20%;

        @media screen and (min-width: $screen) {
          align-items: center;
          justify-content: center;
          padding: 0.8rem 0rem;
        }
      }

      &--checked {
        background-color: $tertiaryColor;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 0;
        transition: 400ms;

        i {
          color: white;
          transition: 400ms;
        }
      }

      &:hover {
        .meals__foods__card--checked {
          width: 20%;

          i {
            transform: rotate(360deg);
          }
        }

        .meals__foods__card__content {
          width: 80%;
        }
      }
    }
  }
  &__btn {
    display: flex;
    justify-content: center;
  }
}

.anim2 {
  animation-delay: 1s;
}

.anim3 {
  animation-delay: 2s;
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}
