@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");

// COLORS

$primaryColor: #9356dc;
$secondaryColor: #ff79da;
$tertiaryColor: #99e2d0;

// FONTS

$fontTitleLogo: "Shrikhand";
$fontText: "Roboto";
