@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap");

// COLORS

$primaryColor: #9356dc;
$secondaryColor: #ff79da;
$tertiaryColor: #99e2d0;
$lightGray: #f7f7f7;
$colorIcon: #7e7e7e;
$darkGray: #353535;

// FONTS

$fontTitleLogo: "Shrikhand";
$fontText: "Roboto";

// RESPONSIVE

$screen: 992px;
$tablette: 768px;
