@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  padding: 1rem 0;
  color: white;
  background: -webkit-gradient(linear, right bottom, left top, from(#9356dc), to(#ff79da));
  background: linear-gradient(to top left, #9356dc, #ff79da);
  border: none;
  border-radius: 2rem;
  font-size: 1rem;
  width: 13rem;
  cursor: pointer;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.btn:hover {
  opacity: 0.8;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.8);
}

.loader {
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  z-index: 1000;
  -webkit-animation: animationOut 0.3s forwards;
          animation: animationOut 0.3s forwards;
  -webkit-animation-delay: 2.7s;
          animation-delay: 2.7s;
}

.loader__dot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: -webkit-gradient(linear, right top, left bottom, from(#9356dc), to(#ff79da));
  background: linear-gradient(to bottom left, #9356dc, #ff79da);
  margin: 0 15px;
  -webkit-animation: loader infinite 0.3s alternate;
          animation: loader infinite 0.3s alternate;
}

.loader .d2 {
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}

.loader .d3 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

@-webkit-keyframes loader {
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

@keyframes loader {
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

@-webkit-keyframes animationOut {
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes animationOut {
  100% {
    opacity: 0;
    z-index: -1;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2rem;
}

.navbar__logo {
  height: 1.5rem;
}

.navbar__logo--arrow {
  margin-right: auto;
}

.navbar__icon {
  justify-self: flex-start;
  margin-right: auto;
}

.location {
  background-color: #eaeaea;
  -webkit-box-shadow: -1px 10px 7px -11px rgba(0, 0, 0, 0.49) inset;
          box-shadow: -1px 10px 7px -11px rgba(0, 0, 0, 0.49) inset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.9rem;
}

.location__icon {
  color: #353535;
}

.location__title {
  font-size: 1rem;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #353535;
  margin-left: 0.5rem;
}

.reserve {
  padding: 2rem 1rem;
  text-align: center;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
}

.reserve__paragraph {
  margin: 1rem 0 2rem 0;
  font-weight: 300;
  color: #353535;
}

.functionning {
  padding: 3rem 1rem;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.functionning__title {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 992px) {
  .functionning__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.functionning__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f7f7;
  padding: 1.5rem 0 1.5rem 1.5rem;
  margin-left: 10px;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 5px 26px -10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 26px -10px rgba(0, 0, 0, 0.5);
  position: relative;
  margin-bottom: 1rem;
}

@media screen and (min-width: 992px) {
  .functionning__step {
    padding: 1.5rem;
  }
}

.functionning__step__icon {
  color: #7e7e7e;
}

.functionning__step p {
  margin-left: 1.5rem;
  font-size: 0.9rem;
}

.functionning__step__number {
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  position: absolute;
  left: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.7rem;
}

.restaurants {
  background-color: #f7f7f7;
  padding: 3rem 1rem;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 992px) {
  .restaurants__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.restaurants__card {
  margin: 1.5rem 0;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  -webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.3);
  position: relative;
  height: 200px;
}

@media screen and (min-width: 992px) {
  .restaurants__card {
    height: 250px;
    width: 300px;
    margin-right: 1.5rem;
    -webkit-transition: all 300ms;
    transition: all 300ms;
  }
}

.restaurants__card:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.restaurants__card__img {
  height: 70%;
}

.restaurants__card__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants__card__content {
  padding: 0.5rem 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurants__card__content h3 {
  margin-bottom: 0.3rem;
}

.restaurants__card__content p {
  font-weight: 200;
}

.restaurants__card__content--icon {
  fill: transparent;
  stroke: black;
  stroke-width: 50;
  cursor: pointer;
  position: relative;
}

.restaurants__card__content--icon svg {
  width: 20px;
  height: 20px;
  overflow: visible;
}

.restaurants__card__content--icon path {
  stroke-dashoffset: 0;
  stroke-dasharray: 1550;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.restaurants__card__content--icon .heart-background {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  stroke: none;
}

.restaurants__card__content--icon .heart-main:hover path {
  -webkit-animation: stroke-animation 2s ease-in-out forwards;
          animation: stroke-animation 2s ease-in-out forwards;
}

.restaurants__card__new {
  background-color: #99e2d0;
  position: absolute;
  top: 5%;
  right: 5%;
  padding: 0.5rem 0.8rem;
  font-size: 0.9rem;
  border-radius: 5px;
  color: #3a8568;
}

@-webkit-keyframes stroke-animation {
  0% {
    stroke-dashoffset: 0;
  }
  30% {
    stroke-dashoffset: 1550;
  }
  60% {
    stroke-dashoffset: 3100;
    fill: transparent;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    fill: #9356dc;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    stroke-dashoffset: 3100;
    fill: #9356dc;
    stroke: #9356dc;
  }
}

@keyframes stroke-animation {
  0% {
    stroke-dashoffset: 0;
  }
  30% {
    stroke-dashoffset: 1550;
  }
  60% {
    stroke-dashoffset: 3100;
    fill: transparent;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    fill: #9356dc;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    stroke-dashoffset: 3100;
    fill: #9356dc;
    stroke: #9356dc;
  }
}

.footer {
  background-color: #353535;
  padding: 2rem 1rem;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 992px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__logo {
  font-family: "Shrikhand";
  color: white;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 992px) {
  .footer__logo {
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 992px) {
  .footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
  }
}

.footer ul li:hover a {
  text-decoration: underline;
}

.footer__icon {
  color: white;
  margin-right: 1rem;
  width: 10px;
}

.footer__icon--rotate {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer__link {
  padding: 0.3rem 0;
}

.picture-top {
  height: 30vh;
}

.picture-top__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.meals {
  padding: 2rem 1rem;
  position: relative;
  margin-top: -2rem;
  border-radius: 2rem 2rem 0 0;
  overflow: hidden;
  width: 100%;
  background-color: #f7f7f7;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.meals__title {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 992px) {
  .meals__title {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 2rem 0;
    padding-right: 1rem;
  }
}

.meals__title h1 {
  font-size: 1.5rem;
}

@media screen and (min-width: 992px) {
  .meals__title h1 {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    font-size: 2rem;
  }
}

.meals__title svg {
  height: 20px;
  width: 20px;
}

@media screen and (min-width: 768px) {
  .meals__title svg {
    height: 32px;
    width: 32px;
  }
}

.meals__foods {
  margin-bottom: 2rem;
  opacity: 0;
  -webkit-animation: fadein 2s forwards;
          animation: fadein 2s forwards;
}

.meals__foods__title h2 {
  font-weight: 200;
  text-transform: uppercase;
  font-size: 1rem;
}

@media screen and (min-width: 992px) {
  .meals__foods__title h2 {
    font-size: 1.25rem;
  }
}

.meals__foods__title--underline {
  height: 3px;
  width: 2.5rem;
  background-color: #99e2d0;
  margin-top: 0.3rem;
  margin-bottom: 0.8rem;
}

@media screen and (min-width: 992px) {
  .meals__foods__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.meals__foods__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 0.8rem;
  -webkit-box-shadow: 0px 5px 26px -10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 26px -10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .meals__foods__card {
    width: 30%;
  }
}

.meals__foods__card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-transition: 400ms;
  transition: 400ms;
}

@media screen and (min-width: 992px) {
  .meals__foods__card__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.meals__foods__card--left {
  padding: 0.8rem 0 0.8rem 0.5rem;
  width: 80%;
}

@media screen and (min-width: 992px) {
  .meals__foods__card--left {
    text-align: center;
    padding: 0.8rem 0rem;
  }
}

.meals__foods__card--left h3 {
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 0.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.meals__foods__card--left p {
  font-weight: 200;
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.meals__foods__card--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0.8rem 1rem 0.8rem 0;
  width: 20%;
}

@media screen and (min-width: 992px) {
  .meals__foods__card--right {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0.8rem 0rem;
  }
}

.meals__foods__card--checked {
  background-color: #99e2d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 0;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.meals__foods__card--checked i {
  color: white;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.meals__foods__card:hover .meals__foods__card--checked {
  width: 20%;
}

.meals__foods__card:hover .meals__foods__card--checked i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.meals__foods__card:hover .meals__foods__card__content {
  width: 80%;
}

.meals__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.anim2 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.anim3 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes fadein {
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */